body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
h1 {
    text-align: center;
}

.maindiv {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   text-align: center;
  }

h4 {
    text-align: right;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    width:175px;
    margin: 0 0 0 auto
    }
    #firstH4 {
        background-color: #FFFB01;
    }
    #secondH4 {
        background-color: #FF5500;
        color: white;
    }
    #thirdsH4 {
        background-color: #48FF00;
    }


#quotes1, #quotes2, #quotes3 {
    background-color: aqua;
    padding: 20px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    float: left;
  width: 27%;
  padding: 20px;
  box-sizing: border-box;
   }


    #img {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto
    }


    @media (max-width: 992px) {
        #quotes1, #quotes2, #quotes3 { 
        width: 100%;
    }

    @media (max-width: 991px){
        #quotes1, #quotes2, #quotes3{
            float: left;
        }
        #quotes1 {
            flex: 27%;
        }
        #quotes2{
            flex: 27%;
        }
        #quotes3 {
            flex: 50%;
        }
      }

      @media screen and (max-width: 767px) {
        #quotes1, #quotes2, #quotes3 {
          width: 100%;
        }
    };
